<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.NRG.ScoutingApp.NRG_Scouting" android:versionName="0.1" android:versionCode="1">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="24" />
	<application android:label="NRG Scouting"></application>
</manifest>